.output-response-box {
	margin-top: 20px;
	display: none;
}

.output-details {
	text-align: center;
	padding: 10px;
	border: 1px solid #aaa;
	background-color: rgb(245, 245, 245);
}

.output-details-info {
	display: inline-block;
	margin-right: 6%;
}

.output-details-info .key {
	display: inline-block;
	margin-right: 5px;
	font-weight: 700;
}

.output-details-info .value {
	display: inline-block;
}

.output-io {
	padding: 15px 30px 30px;
	border: 1px solid #aaa;
	/*display: none;*/
}

.output-io .key, .error-key {
	font-weight: 700;
}

.output-io .output-text {
	background: #f2f2f2;
	border: 1px solid #ccc;
	border-radius: 0px;
	padding: 8px;
}

.output-io .output-i {
	max-height: 400px;
	overflow-y: scroll;
	/*display: none;*/
}

.output-io .output-o {
	max-height: 400px;
	overflow-y: scroll;
	/*display: none;*/
}

.output-io .output-i-info {
	/*display: none;*/
}

.output-io .output-o-info {
	/*display: none;*/
}

.output-empty-message {
	color: #888;
	font-size: 16px;
	display: none;
}

.output-error-box .error-message {
	background: #ff7272;
	border: 1px solid #faa;
	border-radius: 0px;
	padding: 10px;
}

.output-io-info, .output-error-box {
	margin-bottom: 3%;
}
