<html>
	<head>
		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
		{%if current_user.is_authenticated%}
			<title>{{current_user.username}}-MyIDE</title>
		{%else%}
			<title>MyIDE</title>
		{%endif%}
		<link rel="stylesheet" href="../static/css/bootstrap.min.css">
		<link rel="stylesheet" href="../static/css/font-awesome.min.css" type="text/css">
		<link rel="stylesheet" href="../static/css/theme.css" type="text/css">
		<link rel="stylesheet" href="../static/css/custom.css" type="text/css">
		<script>
        	function toggle(id) {
            if (document.getElementById(id).style.display == 'none') {
                document.getElementById(id).style.display = 'block';
            } else {
                document.getElementById(id).style.display = 'none';
            }
        }
        </script>
       	</head>
	<body>
		<div>
			   <nav class="navbar navbar-expand-md navbar-dark border border-light bg-info" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
			    <div class="container">
			      <a class="navbar-brand text-dark" href="{{url_for('index')}}"><b>MyIDE</b></a>
			      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false"
			        aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
			      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
			      {%if current_user.is_anonymous %}
			        <a class="btn navbar-btn ml-2 text-white btn-secondary" href="{{url_for('login')}}">login</a>
			       {%else%}
			       <a class="btn navbar-btn ml-2 text-white btn-secondary" href="{{url_for('saved')}}">Previous Saved</a>
			       <a class="btn navbar-btn ml-2 text-white btn-secondary" href="{{url_for('logout')}}">logout</a>
			      </div>
			      {%endif%}
			    </div>
			  </nav>
		</div>
		<div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div style="position:relative;padding:.75rem 1.25rem;margin-bottom:1rem;border:1px solid transparent;border-radius:.25rem;color:#0c5460;background-color:#d1ecf1;border-color:#bee5eb">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
	<footer style="">
		<div class="border-light">
		<div class="container">
		<div class="text-dark">
		<hr style="height:1px;border:none;color:#333;background-color:#333;" />
		<p aling="center" style="">Powered By
			<a href="https://www.hackerearth.com/docs/wiki/developers/legacy/"> HackerEarth API</a>
			</p>
		</div></div></div>
	</footer>
	
	</body>
</html>	